/*  Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    background-color: #B3D5F2; /* Novo fundo azul claro */
    height: 100vh;
    color: #056CF2; /* Novo texto geral azul escuro */
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

h2.título{
    color: #0583F2; /* Novo título azul primário */
    font-size: 34px;
    text-align: center;
}
h2.título span{
    color: #0583F2; /* Nova cor de destaque do título (azul primário) */
}

.btn-contato button{
    color: #fff; /* Novo texto branco no botão */
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #056CF2; /* Novo fundo azul escuro do botão */
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

button:hover, form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px #0583F2; /* Nova sombra azul primária no hover */
    color: #fff; /* Novo texto branco no hover */
    transform: scale(1.10);
    transition: .2s;
    background-color: #0597F2; /* Novo fundo azul primário no hover */
}

/*  Estilo do Cabeçalho*/
header{
    padding: 18px 4%;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    align-items: center;
    z-index: 2;
    background-color: #056CF2; /* Novo fundo azul escuro do cabeçalho */
    filter: drop-shadow(10px);
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #fff; /* Nova cor dos links do cabeçalho (branco) */
    text-decoration: none;
    display:inline-block;
    transition: .2s;
}
header a:hover{
    color: #B3D5F2; /* Novo hover dos links (azul claro do fundo) */
    transform: scale(1.10);
}
header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
.txt-topo-site > h2{
    margin: 20px 0px;
}

/* Estilo do topo do site */
section.topo-do-site{
    margin-top: 80px;
    padding: 40px 4%;
    background-color: #53a7f1; /* Garante que o gradiente seja visível */
}

section.topo-do-site .interface .flex{
    align-items: center;
    justify-content: center;
    gap: 85px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff; /* Novo título branco */
    font-size: 36px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #056CF2; /* Nova cor de destaque do título (azul escuro) */
}

.topo-do-site .txt-topo-site article{
    margin: 40px 0px;

}

.topo-do-site .txt-topo-site article > p {
    color: #fff; /* Novos parágrafos brancos */
    letter-spacing: 1.5px;
    margin-bottom: 10px; /* Espaçamento de 15px entre os parágrafos */
}

.topo-do-site .img-topo-site {
    position:relative;
}

.topo-do-site .img-topo-site > iframe{
    object-fit: cover;
    border-radius: 2%;
    border: 6px solid #fff; /* Nova borda branca */
    box-shadow: 0px 0px 20px #0583F2; /* Nova sombra azul primária */
}

/* Estilo do Sobre */
section.sobre{
    padding: 40px 4%;
    background-color: #66B1F2; /* Novo fundo azul mais claro */
}

section.sobre .interface .flex{
    align-items: center;
    gap: 50px;
}

section.sobre .txt-sobre{
    color: #fff; /* Novo texto branco na seção sobre */
}

section.sobre .txt-sobre > *{
    margin: 30px 0;
}

section.sobre .txt-sobre h2 {
    color: #fff; /* Novo título branco na seção sobre */
    font-size: 40px;
    margin-bottom: 30px;
}
section.sobre .txt-sobre h2 span{
    color: #0597F2; /* Nova cor de destaque do título (outro azul primário) */
    line-height: 40px;
}
section.sobre .txt-sobre p{
    color: #fff; /* Novos parágrafos brancos na seção sobre */
    margin: 20px 0;
}

.btn-social button{
    color: #fff; /* Novo texto branco nos botões sociais */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #0583F2; /* Novo fundo azul primário dos botões sociais */
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

section.sobre .img-sobre > img{
    aspect-ratio: 1 / 1;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0px 0px 8px #0583F2; /* Nova sombra azul primária */
}

/*ESTILO RODAPÉ*/

footer{
    background-color: #056CF2; /* Novo fundo azul escuro do rodapé */
    padding-block: 60px;
    width: 100%;
    box-shadow: 0 0 40px 10px #B3D5F21d; /* Nova sombra sutil azul claro */
    color: #fff; /* Novo texto branco no rodapé */
}

footer .interface > div{
    align-items: center;
    text-align: center;
}

footer .flex{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.borda{
    border-top: 2px solid #66B1F2; /* Nova borda azul mais clara */
}

.line-footer > p {
    margin: 10px 0px;
    color: #fff; /* Novo texto branco na linha do rodapé */
}

footer .line-footer p a{
    color: #B3D5F2; /* Nova cor dos links do rodapé (azul claro) */
}

@media screen and (max-width: 1020px){

    /*CLASSES GERAIS*/
    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .topo-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    img{
        max-width: 100%;
        height: auto;
    }
    
    /*CABEÇALHO*/
    
    .menu-desktop > ul{
        display: flex;
        flex-direction: column;
    }

    /*TOPO DO SITE*/

    section.topo-site .flex{
        gap: 40px;
    }

    section.topo-site{
        padding: 20px 8%;
    }

    .topo-site h1{
        font-size: 30px;
    }

    .topo-site .img-topo-site{
        width: 100%;
    }

    /*ESPECIALIDADES*/

    section.especialidades{
        padding: 40px 8%;
    }

    /*SOBRE*/

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%; 
    }

    /*PORTFÓLIO*/

    section.portfolio{
        padding: 80px 8%;
    }

    .img-portfolio{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

}
.simple-icons--easyeda {
  display: inline-block;
  width: 48px;
  height: 48px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.754 15.36c.96 0 1.75.788 1.75 1.749c0 .96-.79 1.749-1.75 1.749s-1.75-.79-1.75-1.75s.79-1.748 1.75-1.748m12.591-7.34a7.683 7.683 0 0 0-10.018-4.389c-.618.24-1.2.549-1.75.96A6.9 6.9 0 0 0 7 6.17c-.24-.034-.515-.034-.755-.034C2.78 6.1 0 8.912 0 12.342c0 2.675 1.715 5.041 4.151 5.898c.48 1.544 1.922 2.675 3.603 2.675a3.76 3.76 0 0 0 3.774-3.772c0-.172 0-.309-.034-.48l5.317-2.675l.515-.272l-1.03-2.229l-.582.272l-5.318 2.675a3.7 3.7 0 0 0-2.642-1.098c-1.51 0-2.813.892-3.431 2.195c-1.407-.823-2.127-2.503-1.716-4.15a3.72 3.72 0 0 1 4.53-2.674c.377.102.72.24 1.029.445c.892-2.743 3.876-4.218 6.587-3.326c1.921.651 3.328 2.366 3.534 4.39h.274a2.913 2.913 0 0 1 2.916 2.915a2.94 2.94 0 0 1-2.676 2.915h-2.127v2.503h2.368c2.984-.24 5.18-2.88 4.94-5.864a4.85 4.85 0 0 0-1.51-3.361C21.89 8.74 21.17 8.26 20.345 8.02'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.logos--raspberry-pi {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 327'%3E%3Cpath d='M69.298.005c-1.653.051-3.433.662-5.453 2.255C58.9.353 54.102-.31 49.813 3.573c-6.623-.859-8.775.914-10.406 2.984c-1.454-.03-10.879-1.495-15.202 4.953C13.343 10.225 9.91 17.899 13.8 25.056c-2.219 3.434-4.518 6.827.67 13.375c-1.835 3.646-.697 7.602 3.626 12.389c-1.14 5.127 1.102 8.743 5.125 11.562c-.753 7.015 6.433 11.094 8.578 12.547c.824 4.087 2.541 7.945 10.748 10.077c1.354 6.092 6.286 7.144 11.063 8.422c-15.787 9.177-29.325 21.25-29.233 50.875l-2.313 4.125c-18.102 11.008-34.388 46.39-8.92 75.148c1.663 9.002 4.453 15.468 6.937 22.624c3.715 28.836 27.962 42.339 34.358 43.936c9.371 7.138 19.352 13.911 32.86 18.656c12.731 13.131 26.525 18.136 40.394 18.128c.204 0 28.277-4.996 41.01-18.128c13.506-4.745 23.487-11.518 32.86-18.656c6.394-1.597 30.641-15.1 34.356-43.936c2.484-7.156 5.274-13.622 6.938-22.624c25.466-28.761 9.181-64.144-8.92-75.152l-2.317-4.125c.092-29.622-13.446-41.696-29.233-50.875c4.776-1.278 9.71-2.33 11.062-8.422c8.207-2.133 9.925-5.99 10.748-10.077c2.146-1.453 9.331-5.532 8.58-12.547c4.021-2.819 6.264-6.436 5.123-11.562c4.324-4.787 5.461-8.743 3.626-12.39c5.19-6.544 2.887-9.937.671-13.371c3.888-7.157.457-14.832-10.409-13.546c-4.32-6.448-13.744-4.984-15.202-4.954c-1.63-2.069-3.782-3.842-10.405-2.983c-4.289-3.883-9.085-3.221-14.032-1.313c-5.874-4.635-9.76-.92-14.2.485c-7.112-2.324-8.739.859-12.233 2.156c-7.756-1.639-10.113 1.929-13.83 5.695l-4.326-.086c-11.698 6.894-17.51 20.932-19.57 28.149c-2.06-7.218-7.859-21.256-19.555-28.149l-4.325.086c-3.723-3.766-6.079-7.334-13.835-5.695C86.78 3.603 85.16.42 78.042 2.744c-2.914-.922-5.594-2.838-8.749-2.74L-11 141'/%3E%3Cpath fill='%2375a928' d='M46.008 30.334c31.036 16.001 49.079 28.945 58.964 39.969c-5.062 20.289-31.47 21.215-41.126 20.646c1.977-.92 3.627-2.023 4.212-3.716c-2.423-1.722-11.014-.182-17.012-3.551c2.304-.478 3.382-.943 4.459-2.643c-5.666-1.807-11.77-3.365-15.36-6.359c1.937.024 3.746.434 6.276-1.321c-5.075-2.735-10.491-4.903-14.699-9.084c2.624-.064 5.453-.026 6.276-.991c-4.645-2.878-8.565-6.078-11.809-9.579c3.672.443 5.223.062 6.111-.578c-3.512-3.597-7.956-6.634-10.075-11.066c2.726.94 5.221 1.3 7.019-.082c-1.193-2.692-6.305-4.28-9.249-10.571c2.871.279 5.915.626 6.524 0c-1.332-5.428-3.618-8.48-5.86-11.642c6.143-.091 15.451.024 15.03-.495L31.89 15.39c6.001-1.616 12.141.259 16.599 1.651c2.001-1.579-.036-3.576-2.478-5.615c5.1.681 9.708 1.853 13.874 3.468c2.225-2.009-1.445-4.019-3.221-6.028c7.879 1.494 11.217 3.595 14.534 5.698c2.407-2.307.138-4.268-1.486-6.276c5.941 2.2 9.001 5.041 12.222 7.845c1.092-1.474 2.775-2.555.743-6.111c4.218 2.431 7.395 5.296 9.745 8.506c2.61-1.662 1.555-3.934 1.569-6.029c4.384 3.566 7.166 7.361 10.571 11.066c.686-.5 1.286-2.193 1.817-4.872c10.457 10.145 25.234 35.7 3.798 45.832c-18.243-15.046-40.031-25.983-64.176-34.187zm164.678 0c-31.032 16.003-49.075 28.943-58.959 39.969c5.062 20.289 31.469 21.215 41.125 20.646c-1.977-.92-3.627-2.023-4.211-3.716c2.423-1.722 11.014-.182 17.011-3.551c-2.304-.478-3.381-.943-4.459-2.643c5.667-1.807 11.771-3.365 15.36-6.359c-1.937.024-3.746.434-6.276-1.321c5.076-2.735 10.492-4.903 14.7-9.084c-2.625-.064-5.454-.026-6.276-.991c4.645-2.878 8.565-6.078 11.809-9.579c-3.673.443-5.223.062-6.111-.578c3.511-3.597 7.956-6.634 10.075-11.066c-2.727.94-5.222 1.3-7.02-.082c1.193-2.692 6.306-4.28 9.249-10.571c-2.87.279-5.915.626-6.524 0c1.335-5.43 3.621-8.482 5.863-11.644c-6.143-.091-15.451.024-15.03-.495l3.799-3.882c-6.001-1.615-12.141.26-16.599 1.652c-2.001-1.579.035-3.576 2.477-5.615c-5.099.68-9.708 1.853-13.873 3.468c-2.226-2.009 1.445-4.019 3.221-6.028c-7.879 1.494-11.217 3.595-14.535 5.698c-2.407-2.307-.137-4.268 1.487-6.276c-5.941 2.2-9.001 5.041-12.222 7.845c-1.093-1.474-2.775-2.555-.744-6.111c-4.217 2.431-7.394 5.296-9.744 8.506c-2.61-1.662-1.555-3.935-1.569-6.029c-4.384 3.566-7.166 7.36-10.571 11.066c-.686-.5-1.286-2.193-1.817-4.873c-10.457 10.146-25.234 35.701-3.798 45.833c18.233-15.05 40.02-25.985 64.166-34.189z'/%3E%3Cpath fill='%23bc1142' d='M165.933 236.933c.108 18.933-16.449 34.362-36.98 34.461c-20.532.1-37.264-15.167-37.372-34.1v-.361c-.108-18.932 16.448-34.361 36.98-34.461s37.263 15.167 37.372 34.1zm-58.687-97.929c15.404 10.093 18.181 32.969 6.202 51.095c-11.979 18.127-34.177 24.641-49.581 14.549c-15.404-10.093-18.18-32.969-6.202-51.095c11.979-18.127 34.177-24.641 49.581-14.549m41.576-1.827c-15.403 10.092-18.18 32.969-6.202 51.095c11.979 18.127 34.177 24.641 49.581 14.548s18.181-32.968 6.202-51.095c-11.978-18.126-34.176-24.64-49.581-14.548M30.258 155.504c16.631-4.458 5.615 68.803-7.917 62.792c-14.885-11.972-19.679-47.033 7.917-62.792m192.195-.913c-16.633-4.457-5.615 68.807 7.917 62.796c14.885-11.973 19.679-47.038-7.917-62.796m-56.507-54.557c28.701-4.846 52.583 12.206 51.619 43.328c-.944 11.932-62.193-41.551-51.619-43.328m-79.3-.913c-28.703-4.847-52.583 12.209-51.619 43.329c.944 11.931 62.194-41.552 51.619-43.329m41.228-7.258c-17.13-.446-33.57 12.713-33.61 20.346c-.047 9.274 13.544 18.77 33.727 19.011c20.61.147 33.762-7.601 33.828-17.172c.076-10.844-18.745-22.353-33.945-22.186zm1.046 190.18c14.935-.652 34.975 4.81 35.015 12.057c.248 7.036-18.175 22.934-36.005 22.627c-18.466.797-36.573-15.126-36.336-20.645c-.277-8.092 22.484-14.41 37.326-14.039m-55.164-42.945c10.633 12.81 15.481 35.316 6.607 41.951c-8.395 5.065-28.782 2.979-43.272-17.838c-9.773-17.468-8.514-35.243-1.652-40.465c10.261-6.25 26.115 2.193 38.318 16.352zm108.2-4.061c-11.505 13.475-17.911 38.053-9.519 45.969c8.025 6.15 29.567 5.29 45.479-16.789c11.554-14.829 7.683-39.594 1.083-46.17c-9.804-7.583-23.879 2.122-37.043 16.986z'/%3E%3C/svg%3E");
}

.mingcute--router-modem-fill {
  display: inline-block;
  width: 48px;
  height: 48px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12 9a1 1 0 0 1 1 1v4h6a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h6v-4a1 1 0 0 1 1-1M6.662 3.959A1 1 0 0 1 6.75 5.37A6.97 6.97 0 0 0 5 10q0 .446.054.876a1 1 0 0 1-1.984.248A9 9 0 0 1 3 10a8.97 8.97 0 0 1 2.25-5.953a1 1 0 0 1 1.412-.088m12.088.088A8.97 8.97 0 0 1 21 10q0 .57-.07 1.124a1 1 0 1 1-1.984-.248q.053-.43.054-.876a6.97 6.97 0 0 0-1.75-4.63a1 1 0 1 1 1.5-1.323M9.662 6.604a1 1 0 0 1 .088 1.412a3 3 0 0 0-.727 2.36a1 1 0 0 1-1.984.248A5 5 0 0 1 8.25 6.693a1 1 0 0 1 1.41-.089Zm6.088.088a4.98 4.98 0 0 1 1.211 3.932a1 1 0 0 1-1.984-.248a3 3 0 0 0-.726-2.36a1 1 0 1 1 1.499-1.324'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.game-icons--soldering-iron {
  display: inline-block;
  width: 48px;
  height: 48px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M372.5 33.27c-24.9.2-51.8 13.41-70.6 46.03l-.2.4l14.4 8.3l.2-.4c16.2-27.8 39.1-38.9 60.2-37.6c30.6 1.9 56.5 29.9 47.6 66.4c-2 8.4-5.9 17.3-11.8 26.4c-33 50.5-73 84.1-103.3 116.7c-32.3 34.8-53.8 68.7-47.4 117.9C268.1 428 317 458 371.4 461c39.3 3 81-8 110.1-33v-23c-25.3 30-68.7 43-108.9 40c-46.1-3-89-27-94.5-69.7c-5.6-43.8 14.4-73.5 43.1-104.4c30.8-33.2 71.5-67.6 105-119c7.1-10.9 11.7-21.5 14.1-31.6c11.7-47.8-22.5-84.4-62.8-86.9c-1.6-.1-3.3-.14-5-.13M84.26 41.44C-6.511 138.9 158.5 160.1 75.56 268.1c-62.2 80.9-10.68 102.6-.96 195.1c0 0 .32-1.7.86-4.4c4.77-23.9 1.58-48.8-9.12-70.8c-26.01-53.4-5.18-74.8 56.26-143.4c71.9-80.4-58.81-126.2-38.34-203.16M287.3 90.3s-17.6 29.9-38.9 62.9c-13.8 21.4-30.8 42.9-41.4 61.4c-4.9 8.5-8.7 16-11.3 21.8l-10-5.8l-9.3 16l57.8 33.4l9.2-16l-10-5.8c3.7-5.2 8.3-12.3 13.2-20.7c10.7-18.4 20.9-43.9 32.5-66.6c17.9-35 35-65.1 35-65.1zM180.5 264.5l-5.4 9.4l36.1 20.8l5.4-9.4zm-4.6 24.7l-55 95.2l21.7 12.5l54.9-95.2zm-60.4 107.3l-3.7 12.2l14.8 8.6l8.8-9.3zm-7.8 23.4l-15.53 26.9l-3.11 17.9L103 453l15.5-26.8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}